:root {
  --accent: #a941e1;
  --accent-light: #ca8aed;
  --pure-white: #fff;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--accent);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 50px 0;
}
.header {
  background-color: var(--accent);
}
.header a {
  color: var(--pure-white);
  text-decoration: none;
}
.header-nav {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  text-transform: uppercase;
}
.header-logo img {
  width: 100%;
  height: 60px;
  object-fit: contain;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 5px;
}
.header-menu-link {
  font-size: 16px;

  padding: 15px;
  text-transform: uppercase;
  transition: background-color 0.4s-;
}
.header-menu-link:hover {
  background-color: var(--accent-light);
}
.intro {
  padding: 4em 0;
}
.intro-inner {
  display: flex;
}
.intro-left {
  width: 30%;
}
.intro-img {
  width: 210px;
  border-radius: 20%;
}
.intro-right {
  width: 60%;
}
.intro-right h1,
.intro-right h3 {
  margin: 0 0 10px;
}
.section-title {
  text-transform: uppercase;
  text-align: center;
}
.contacts {
  margin-bottom: 60px;
  margin-top: -20px;
}
.contacts ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.contacts li {
  text-align: center;
}
.contacts h4 {
  text-align: center;
  margin: 10px 50px;
}
.contacts img {
  height: 45px;
}
.skills {
  background: var(--accent);
  color: var(--pure-white);
}
.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.skills li {
  padding: 10px 25px;
  background-color: var(--accent-light);
  border-radius: 4px;
}
.code-example p {
  font-style: italic;
  text-align: center;
}
.code-example b {
  font-style: normal;
}
.code-example pre {
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  color: var(--pure-white);
  background-color: var(--accent);
  border-radius: 8px;
}

.languages {
  padding: 0;
  margin-bottom: 35px;
}
.languages ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.languages li {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 13px;
}

.languages li img {
  padding: 10px;
}

.education {
  margin-bottom: 2em;
  background-color: var(--accent);
  color: var(--accent);
  text-align: center;
}

.education-title {
  color: var(--pure-white);
}
.education ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.education li {
  border-radius: 10px;
  background-color: var(--pure-white);
  overflow: hidden;
  padding-bottom: 15px;
}
.education img {
  width: 100%;
  height: 290px;
}

.footer p {
  text-align: center;
}

@media (max-width: 500px) {
  .container {
    max-width: 320px;
    padding: 0 5px;
    overflow: hidden;
  }
  .header-nav {
    display: flex;
    flex-direction: column;
  }
  .header-menu {
    display: flex;
    flex-direction: column;
  }
  .header-menu-link {
    padding: 5px;
  }
  .intro-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .intro-left {
    margin-right: 190px;
  }
  .example pre {
    display: flex;
    justify-content: flex-end;
  }
  .languages ul {
    padding: 0;
  }
  .languages li {
    padding: 0;
  }
  .education ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .intro-inner {
    display: flex;
    gap: 10px;
  }
  .intro-left {
    width: 50%;
  }
  .languages ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .languages li {
    width: 48%;
  }
  education {
    justify-content: center;
  }
  .education ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
